<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://user-images.githubusercontent.com/323878/179861738-b312d987-9c6d-46f8-8b65-750f77fcf7ee.png"
            alt="" height="200px" srcset="">
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">
                Saiu a nova versão do angular
            </a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            </a>
        </p>
    </div>
</div>