<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://user-images.githubusercontent.com/323878/179861738-b312d987-9c6d-46f8-8b65-750f77fcf7ee.png"
                alt="" srcset="">
        </div>
        <div class="small-card__title">
            <h1>
                <a href="#">
                    Saiu a nova versão do angular
                </a>
            </h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>