<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            photoCover="https://user-images.githubusercontent.com/323878/179861738-b312d987-9c6d-46f8-8b65-750f77fcf7ee.png"
            cardTitle="NOVO ALTERAÇÃO PARA DINAMICO"
            cardDescription=" bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            photoCover="https://th.bing.com/th/id/R.f674f4999ee981a316518b349696641d?rik=dvwK1oPhIAnEmw&riu=http%3a%2f%2fqncdn.wbjiang.cn%2fangular_400x300.png&ehk=oB0eCMC9lCAxUdoFVMO9TW3vCj1Mknndg%2bAttZXOiSM%3d&risl=&pid=ImgRaw&r=0"
            cardTitle="Saiu a nova versão do angular"></app-small-card>
        <app-small-card
            photoCover="https://th.bing.com/th/id/R.d18841a962aa9d87d9a2665283fe04dc?rik=PKAXTOqgDY4o5g&pid=ImgRaw&r=0"
            cardTitle="Saiu a nova atualizações do angular"></app-small-card>
        <app-small-card photoCover="https://th.bing.com/th/id/OIP.OFRwlst8xwo29oeMgWmzyQHaE7?pid=ImgDet&rs=1"
            cardTitle="Saiu a outra nova versão do angular"></app-small-card>
    </div>
</div>