<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card Id="1" photoCover="https://wallpaperaccess.com/full/3910947.jpg"
            cardTitle="NOVO ALTERAÇÃO PARA DINAMICO"
            cardDescription=" bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card Id="2"
            photoCover="https://th.bing.com/th/id/R.f674f4999ee981a316518b349696641d?rik=dvwK1oPhIAnEmw&riu=http%3a%2f%2fqncdn.wbjiang.cn%2fangular_400x300.png&ehk=oB0eCMC9lCAxUdoFVMO9TW3vCj1Mknndg%2bAttZXOiSM%3d&risl=&pid=ImgRaw&r=0"
            smallTitle="Saiu a nova versão do angular"></app-small-card>
        <app-small-card Id="3"
            photoCover="https://th.bing.com/th/id/R.d18841a962aa9d87d9a2665283fe04dc?rik=PKAXTOqgDY4o5g&pid=ImgRaw&r=0"
            smallTitle="Saiu a nova atualizações do angular"></app-small-card>
        <app-small-card Id="4" photoCover="https://th.bing.com/th/id/OIP.OFRwlst8xwo29oeMgWmzyQHaE7?pid=ImgDet&rs=1"
            smallTitle="Saiu a outra nova versão do angular"></app-small-card>
    </div>
</div>